* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    
}

.qr-box {
    width: 320px ;
    height: 499px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    overflow: hidden;
}

.img-box {
    display: block;
    margin: auto;
    padding: 16px 16px 24px 16px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
}

img {
    border-radius: 15px;
}

.text {
    height: 131px;
    width: 288px;
    display: block;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

h3 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-family: "Outfit", sans-serif;
    padding-bottom: 16px;
    font-weight: bold;
    line-height: 120%;
}

p {
    font-size: 15px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: hsl(216, 15%, 48%);
    padding-bottom: 40px;
}

